body{
    background-image: url(images/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.sign-up-form form{
    top: 90%;
    transform: translateY(90%);
    background-color: red;
    padding: 10px;
    width: 20%;
}

.sign-up-form form input[type=email],.sign-up-form form input[type=password]{
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    background: transparent;
    color: #fff;
}